{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}


<div class="container" style="padding-top: 3%;">
    <h1 class="text-center" style="margin-top:6%;font-family: 'Lancelot', cursive;">ARTS</h1>

    <button class="btn btn-outline-info"> <a class="nav-link" href="{%url 'upload'%}" style="color:black;">Add art</a></button>

   
    <div class="row">
        {% for art in all_arts %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-lg">
                <a href="{% url 'oneart' art.id %}">
                    <img src="{{art.art_image.url}}" width="100%" height="300px" class="img-responsive">
                </a>
                <div class="card-body">

                    <span style="font-family: 'Rancho', cursive;">{{art.title}} </span>
                    <span style="float:right;font-family: 'Rancho', cursive;"><small>{{art.date|date:"F d,Y"}}</small>
                    </span><br>

                    <div class="foot">
                        <small style="font-family: 'Old Standard TT', serif;">{{art.description}}</small><br><br>
                        <span><small
                                style="text-transform:capitalize;font-family: 'Rancho', cursive;">{{art.user}}</small>
                        </span>
                        <button class="btn btn-outline-default" style=" float:right;font-family: 'Rancho', cursive;"><a
                                href="{% url 'oneart' art.id %}">view more </a></button>
                        <p>category:{{art.category}}</p>
                    </div>

                </div>


            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{%static 'js/newsletter.js'%}">
</script>
{% endblock %}