{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}


<div class="container" style="padding-top: 3%;">
    <h1 class="text-center" style="margin-top:4%;font-family: 'Lancelot', cursive;">ARTS of the country of thousand hills</h1>
<p class="text-center" style="font-family: 'Lancelot', cursive;">Art Rwanda is an application that helps you to know more about <br> Rwandan culture through their art(Ubuhanzi). <br>
    <button class="btn btn-info btn-sm" style="margin-bottom:4%;"> <a class="nav-link" href="{%url 'upload'%}" style="color:white;">Add an Art</a></button>
</p>
   
    <div class="row">
        {% for art in all_arts %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-lg">
                <a href="{% url 'oneart' art.id %}">
                    <img src="{{art.art_image.url}}" width="100%" height="300px" class="img-responsive">
                </a>
                <div class="card-body">

                    <span style="font-family: 'Rancho', cursive;">{{art.title}} </span>
                    
                    <span style="font-family: 'Rancho', cursive; margin-left:9px;"><small>{{art.date|date:"F d,Y"}}</small>
                        <button class="btn btn-outline-info btn-sm" style="float:right;"><a
                            href="{% url 'oneart' art.id %}" style="font-family: 'Rancho', cursive;color:black;">view comments </a></button>
                    </span><br>

                    <div class="foot">
                        <small style="font-family: 'Old Standard TT', serif;">{{art.description}}</small><br><br>

                       
                    </div>

                </div>


            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{%static 'js/newsletter.js'%}">
</script>
{% endblock %}